In [1]:
import pandas as pd
import plotly.graph_objects as go

In [3]:
ma_test_res = pd.read_pickle("ma_test_res.pkl")
all_trades = pd.read_pickle("all_trades.pkl")

In [5]:
ma_test_res.shape

(630, 8)

In [7]:
ma_test_res.head()

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,mashort,malong
0,GBP_CAD,543,134.6,0.247882,-250.2,377.6,4,8
1,GBP_CAD,303,1500.0,4.950495,-250.2,346.3,4,16
2,GBP_CAD,283,954.2,3.371731,-278.0,364.4,8,16
3,GBP_CAD,182,-248.4,-1.364835,-112.9,343.0,4,32
4,GBP_CAD,140,568.8,4.062857,-144.7,360.0,8,32

In [7]:
ma_test_res.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'mashort', 'malong'],
      dtype='object')

In [8]:
ma_test_res = ma_test_res[['pair', 'num_trades', 'total_gain', 'mashort', 'malong']]

In [12]:
ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

In [17]:
df_all_gains = ma_test_res.groupby(by=["CROSS", "malong", "mashort"], as_index=False).sum()

In [20]:
df_all_gains.sort_values(by="total_gain", ascending=False, inplace=True)

In [21]:
df_all_gains.head()

,CROSS,malong,mashort,pair,num_trades,total_gain
25,MA_8_16,16,8,GBP_CADGBP_CHFGBP_JPYGBP_NZDGBP_USDEUR_GBPEUR_...,5747,-1189.3
17,MA_4_32,32,4,GBP_CADGBP_CHFGBP_JPYGBP_NZDGBP_USDEUR_GBPEUR_...,4002,-3981.3
27,MA_8_32,32,8,GBP_CADGBP_CHFGBP_JPYGBP_NZDGBP_USDEUR_GBPEUR_...,3138,-4631.2
15,MA_4_16,16,4,GBP_CADGBP_CHFGBP_JPYGBP_NZDGBP_USDEUR_GBPEUR_...,6592,-5249.7
19,MA_4_8,8,4,GBP_CADGBP_CHFGBP_JPYGBP_NZDGBP_USDEUR_GBPEUR_...,11629,-7758.9

In [22]:
ma_8_16 = ma_test_res[ma_test_res.CROSS == 'MA_8_16'].copy()

In [25]:
ma_8_16.sort_values(by="total_gain", ascending=False, inplace=True)

In [28]:
total_p = len(ma_8_16.pair.unique())

In [30]:
ma_8_16[ma_8_16.total_gain>0].shape[0]

8

In [31]:
8/total_p

0.38095238095238093

In [43]:
for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS == cross]
    total_p = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    print(f"{cross:12} {n_good:4} {n_good/total_p*100:4.0f}%")

MA_8_16         8   38%
MA_4_32         8   38%
MA_8_32         7   33%
MA_4_16         7   33%
MA_4_8          7   33%
MA_64_256       7   33%
MA_16_32        4   19%
MA_32_256       6   29%
MA_24_256       5   24%
MA_16_256       4   19%
MA_8_256        4   19%
MA_24_32        8   38%
MA_8_64         6   29%
MA_4_256        5   24%
MA_8_96         4   19%
MA_4_64         5   24%
MA_24_64        5   24%
MA_4_96         5   24%
MA_16_64        4   19%
MA_64_96        3   14%
MA_16_96        4   19%
MA_32_64        4   19%
MA_64_128       2   10%
MA_4_128        2   10%
MA_32_128       1    5%
MA_8_128        3   14%
MA_32_96        3   14%
MA_16_128       2   10%
MA_24_96        1    5%
MA_24_128       3   14%